.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  display: none;
}
.App-logo.loading {
  animation: App-logo-spin infinite 20s linear;
  display: inline;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.movieData {
  padding: 10px;
  background: #2d3347;
}

.movieData p {
  font-size: calc(10px + 1vmin);
}

button.getMoviesButton {
  margin: 25px;
  height: 35px;
  min-width: 200px;
  width: 75vw;
  cursor: pointer;
  font-size: calc(10px + 2vmin);
}

.ReactTable {
  min-width: 200px;
  width: 75vw;
}
.ReactTable.loading {
  display: none;
}
.ReactTable .-pagination .-btn {
  color: white;
}
.ReactTable .rt-tbody {
  font-size: calc(10px + 2vmin);
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
